.header {
  background-color: darkred;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.header {
  text-align: left;
}

a.header {
  text-align: right;
}

.navigation {
  background-color: black;
  color: white;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  width: 85%;
}

#side {
  position: absolute;
  padding: 10px;
  top: 200px;
  right: 0;
  width: 20%;
}

.footer {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 75%;
}

a {
  color: white;
  text-align: right;
}